*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    flex: 0 0 auto;
}

html {
    margin: 0;
    padding: 0px;
    background-color: #000;
    height: 100vh;
}

#navBar {
    padding: 12px 24px 12px 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
   
    
    backdrop-filter: blur(30px);
    background-color: rgba(44, 44, 44, 0.5);
    

    align-items: center;
    
    z-index: 100;
}

ul li {
    display: inline-block;
    list-style: none;
}

#logo {
    font-family: "Kanit", system-ui;
    font-weight: 800;
    font-size: 40px;
    color: white;
    padding: 0px 10px 0px 10px;
}


#navBarList .navBarListItem{
    color: white;
    font-size: 20px;
    padding: 5px 12px 5px 12px;
    margin: 0 6px 0 6px;
    
}

#navBarList {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* ------------------------ APP ------------------ */
.header {
    color: "#fff";
    font-weight: 800;
    font-size: 30px;
}

.par {
    color: #fff;
    z-index: 1;
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 0 8px;
}

#appContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: url('aibackground.webp');
    height: 100vh;
    

    padding: 150px 30px 30px 30px;
    flex: 1;
}

.textGradientDiffusion {
    background: linear-gradient(to right, #3b82f6, #06b6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#output {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    border-style: solid;
    border-color: #fff;
    border-radius: 18px;
    border-width: 1px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    height: 80%;
    padding: 60px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    flex: 1;
    transition: all 0.3s ease;

}


.intro {
    
    align-self: center;
}

#userInputDiv {
    display: flex;
    justify-content: space-between;
}

#userInput {
    box-sizing: border-box;
    border: 1px #fff solid;
    background-color: #fff;
    color: #000;
    border-radius: 18px;
    padding: 10px 10px 10px 16px;
    resize: none;
    width: 80%;
    font-size: 18px;
    font-weight: 200;
    min-height: 50px;
    max-height: 140px;
    height: 50px;
    outline: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}


#userInput:focus {
    border: 1px #fff dashed;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    color: #fff;
}

#generateButton {
    border: 1px #fff solid;
    background-color: #fff;
    border-radius: 18px;
    width: 19%;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: ease-out 0.2s;
}

#generateButton:hover {
    border: 1px #fff dashed;
    background-color: #000;
    color: #fff;
}

.fadeUpAnim {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.8s cubic-bezier(.94,-0.01,.59,1.01), transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fadeUpAnim.visible {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 500px) {
    #generateButton {
        font-size: 16px;
        font-weight: 400;
    }
}